# Dependências
node_modules/

# Builds e Saídas
dist/
build/
app/
out/

# Variáveis de ambiente (Segurança)
.env
.env.local
.env.production
.env*

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# IDEs e Sistema
.vscode/
.idea/
.DS_Store
Thumbs.db

renderer/.next/*