@import "tailwindcss";
@import "tw-animate-css";

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Bold.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Inter';
  src: url('/fonts/Inter-Black.woff2') format('woff2');
  font-weight: 900;
  font-style: normal;
}

@layer utilities {
  @keyframes moveProgress {
    0% {
      left: -40%;
    }
    100% {
      left: 100%;
    }
  }

  .animate-progress-slide {
    animation: moveProgress 1.5s infinite ease-in-out;
  }

  .shake-animation {
    animation: shake 0.5s cubic-bezier(.36,.07,.19,.97) both;
  }

  @keyframes shake {
    10%, 90% { transform: translate3d(-1px, 0, 0); }
    20%, 80% { transform: translate3d(2px, 0, 0); }
    30%, 50%, 70% { transform: translate3d(-4px, 0, 0); }
    40%, 60% { transform: translate3d(4px, 0, 0); }
  }
}

@layer base {
  :root {
    --bg-body: #f8fafc;
    --nav-bg: #283e55;
    --primary: #3498db;
    --welcome: #283e55;
    --card: #ffffff;
    --footer: #f9f9f9;
  }

  .theme-morning {
    --nav-bg: #2c3e50;
    --bg-body: #fffcf5;
    --primary: #f39c12;
    --welcome: #ba7a14;
    --card: #f4f1ec;
    --footer: #eae5dd;
  }

  .theme-night {
    --nav-bg: #2c3e50;
    --bg-body: #fffcf5;
    --primary: #1221f3;
    --welcome: #131c96;
    --card: #f4f1ec;
    --footer: #eae5dd;
  }
}

.bg-var-bg { background-color: var(--bg-body); }
.bg-var-nav { background-color: var(--nav-bg); }
.bg-var-card { background-color: var(--card) !important; }
.bg-var-footer { background-color: var(--footer); }
.border-var-primary { border-color: var(--primary); }
.text-var-welcome { color: var(--welcome); }

:root {
  --font-inter: 'Inter', sans-serif;
}
body {
  font-family: var(--font-inter);
  background-color: #f0f4f8;
  -webkit-font-smoothing: antialiased;
}

.clock-font {
  font-family: var(--font-inter);
  font-weight: 700; 
  font-variant-numeric: tabular-nums;
  letter-spacing: -0.05em;
}